/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-font-size:12pt;
}

.bold {
	-fx-font-weight: bold;
}

.borderlight {
	-fx-border-color:black;
}

.courrierNew {
	-fx-font-family:"Courier New";
}

.borderred {
	-fx-text-fill: red;
}